# Build outputs
main
main_host
*.o
*.out
generate_ofdm_data
# part5/main
# part5/main_cpu
# part5/generate_ofdm_multi

# gem5 outputs
# m5out/
# part1/m5out/
# part2/m5out/
# part3/m5out/
# part1_kernel_only/m5out/
# part2_kernel_only/m5out/

# Local generated stats or temp files
*.log
*.tmp
*.swp
*.swo
data/ofdm_input.bin
data/ofdm_input_multi*.bin

# OS / editor files
.DS_Store
Thumbs.db
